@model IEnumerable<RentingMovies.Models.Customer>
@{
    ViewBag.Title = "Customer_India";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>

@if (!Model.Any())
{
    <p>We don't have any customers yet..</p>
}
else
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Customer</th>
                <th>Membership Type</th>
                @*<th>Discount</th>
        <th>Duration</th>
                *@
            </tr>
        </thead>

        <tbody>
            @foreach (var customer in Model)
            {
            <tr>
                <td>@Html.ActionLink(customer.Name, "Edit", "Customers", new { id = customer.Id }, null)</td>
                <td>@customer.MembershipType.name</td>
                @*<td>@customer.MembershipType.DiscountRate%</td>
        <td>@customer.MembershipType.DurationInMonths</td>*@
            </tr>
            }
        </tbody>

    </table>
}

